body {
    margin: 0;
    padding: 0;
}
.slider {
    position: relative;
    width: 100%;
    text-align: center;
}
.slider img {
    width: 99%;
    max-width: 1800px;
    margin: auto;

}
.slider button {
    position: absolute;
    top: 50%;
    border: none;
    margin: auto;
    background-color: #f1f1f1;
}
.next-btn {
    right: 0.7%;
}
.prev-btn {
    left: 0.7%;
}