body {
    margin: 0;
    padding: 0;
}
.slider {
    position: relative;
    max-width: 1200px;
    padding: 0 8px;
    margin: auto;
    text-align: center;
}
.slider img {
    width: 100%;
}
.slider button {
    position: absolute;
    top: 50%;
    margin: auto;
    padding: 15px;
    border-radius: 20%;
    background-color: transparent;
    border: 2px ridge white;
    outline: none;
}
.next-btn {
    right: 8px;
}
.prev-btn {
    left: 8px;
}